/* Stile base del calendario */
.react-calendar {
    width: 100%;
    /* Adatta la larghezza */
    height: 100%;
    /* Evita che cresca troppo */
}

/* Barra di navigazione (mese/anno e frecce) */
.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.react-calendar__navigation__label {
    font-size: 18px !important;
    font-weight: bold;
    color: #fff;
}

.react-calendar__navigation > button {
    background: none;
    text-transform: uppercase;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}

.react-calendar__navigation button:hover {
    color: #000;
}

/* Giorni della settimana */
.react-calendar__month-view__weekdays {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

/* Griglia dei giorni */
.react-calendar__tile {
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    padding: 4px;
    transition: background 0.3s ease;
}

/* Giorno selezionato */
.react-calendar__tile--active {
    background: #ffffff44;
    color: white;
    font-weight: bold;
}

/* Giorno corrente */
.react-calendar__tile--now {
    background: #1e90ff;
    color: black;
    font-weight: bold;
    border-radius: 15%;
}

abbr {
    font-weight: bold;
    font-size: large;
}


/* Evidenziazione dei giorni festivi */
.holiday-day {
    color: #8a3d0d !important;  /* Testo bianco per le festività */
    font-weight: bold;  /* Rende il testo più evidente */
}

/* Evidenziazione dei giorni con eventi */
.event-day {
    border: 2px solid #0073AB !important;  /* Bordo blu per eventi */
    border-radius: 6px;  /* Angoli arrotondati */
    font-weight: bold;  /* Testo più evidente */
}

/* Stile per i giorni festivi e con eventi */
.holiday-day.event-day {
    color: red !important; /* Assicura che il testo rimanga bianco anche nei giorni con eventi */
}
