@import "tailwindcss";


@theme {
    --color-text: #052a3a;
    --color-background: #f4fbff;
    --color-primary: #0073AB;
    --color-secondary: #faaa7a;
    --color-accent: #fac647;
    --color-selected: #004e74;
}